* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #1E4D4F;
    color: whitesmoke;
    font-family: "Poppins";
}

header{
    padding: 35px;
}

h1{
    font-size: 60px;
    font-weight: 900;
    font-family: "Cormorant Garamond";
    margin-bottom: 7px;
}

h2 {
    font-family: "Playfair Display";
}

h3{
 font-family: "Playfair Display";
}

a{
    color: whitesmoke;
    text-decoration: none;
    margin: 25px;
    font-weight: 500;
}

nav{
    margin: 20px;
}

#poster{
  text-align: center;
}

#poster img{
    width: 450px;
    border: 8px solid #D8B26E;
    border-radius: 15px;
    border-image: 15px;

}

#sinopse {
    padding: 80px;
    max-width: 900px;
    margin: auto;
  
}

#sinopse p{
    font-size: 30px;
    line-height: normal;
    background: #14353F;
    border: 3px solid #D8B26E;
    border-radius: 15px;
    padding: 17px;

}

#sinopse h2{
    font-size: 40px;
}